.s1{
    color: aqua;
    background-color: black;
    
    padding-bottom: 150px;
    width: 600px;
    height: 200px;
}
.s2{
    color: aqua;
    background-color:black;
    margin-top: 100px;
    padding-bottom: 150px;
    width: 600px;
    height: 200px;
}