<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>info.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
  <servlet-name>do</servlet-name>
  <url-pattern>/dataorg</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>do</servlet-name>
  <servlet-class>com.project1.dataorg</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  <servlet-name>disp</servlet-name>
  <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>disp</servlet-name>
  <servlet-class>com.project1.display</servlet-class>
  </servlet>
</web-app>